.forget-password {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.forgetpassword{
    margin: 200px 0px;
    width: 781px;
    height: 609px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #232B48;
}

.forget-password h1 {
    margin-top: 157px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    color: #FFFFFF;

}

.forget-password input {
    margin-top: 64px;
    width: 647px;
    height: 54px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding-left: 16px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: none;
    color: rgba(224, 224, 224, 0.31);
}

.forget-password p {
    margin-top: 9px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.59);
    cursor: pointer;
}

.forget-password button {
    margin-top: 43px;
    width: 647px;
    height: 54px;
    background: #2D7DD7;
    border-radius: 10px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.forget-password button:disabled{
    background: #b7d1ef;
}