.signup {
    width: 1440px;
    padding: 0px 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Urbanist';
    margin-top: 100px;

}
.username1-icon {
    background: transparent;
    position: absolute;
    left: 130px;
    top: 84px;
    width: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.username1-icon img{
    background: transparent;
}

.password1-icon {
    background: transparent;
    position: absolute;
    left: 130px;
    top: 170px;
    width: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password1-icon img {
    background: transparent;

}
.signin-btn {
    width: 213px;
    height: 50px;
    margin-top: 34px;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    background: #5C2E88;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.signin-btn:disabled{
    background: #b7d1ef;
}

.forget-password-btn {
    margin-top: 16px;
    margin-left: 511px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px; 
    color: #2D7DD7;
    cursor: pointer;
}