.landing-card {
    background-color: #f9f9f9;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 350px;

}

.landing-card-top {
    /* width: 367px;
    height: 300px; */
    position: relative;
    top: 18px;
    right: 0px;
    left: 0px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.card-edit-del {
    position: absolute;
    right: 10px;
    top: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all .5s ease;
    opacity: 0;
}

.landing-card:hover .card-edit-del{
    opacity: 1;
}
.condition-badge{
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: #14A800;
    padding: 3px 14px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;

}
.edit-del-circle {
    width: 30px;
    height: 30px;
    background: #5C2E88;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-del-circle .landing-card-icon{
    font-size: 16px;
    color: #ffff;
    cursor: pointer;
}

.landing-card-image {
    position: absolute;
    right: 0;
    top: 0;

}
.landing-card-image img{
    max-width: 300px;
}
.landing-card-image-container{
    position: relative;
}
/* .landing-card-image img {
    width: 100%;
    height: 100%;
} */

/* .landing-card .review-card-stars {
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
} */

.landing-card-description-container{
    width: 60%;
}
.landing-header {
    margin-top: 5px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #666666;
}

.profile-link {
    display: flex;
    align-items: center;
    margin-top: 10px;

}

.usergap {
    height: 10px;
    width: 1px;
}

.landing-card-proimg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.user-name {
    margin-right: 10px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 145.8%;
    color: #697694;
}

.user-date {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 145.8%;
    color: #697694;
}

/* .reviewbtn{
    display: flex;
    justify-content: right;
    margin-right: 12px;
} */

/* .reviewbtn button{
    width: 111px;
    height: 28px;
    margin-bottom: 8px;
    background: #2D7DD7;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
} */