.pro-leftandright {
    /* display: flex; */
    position: relative;
}
.view-offers-button{
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid #5c2e88;
    
   
    padding: 6px 20px;
    border-radius: 10px;

}
.view-offers-button button{
    color: #5C2E88;
    background-color: transparent;
}

.pro-left {
    /* padding-left: 76px; */
    border: 1px solid rgba(102, 102, 102,0.3);
    padding: 50px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.profile-details {
    gap: 11px;
    margin-bottom: 20px;


}
.profile-details{
}
.profile-details img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.profile-details h1 {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
    color: #000;

}

.profile-details p {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000;
   
}

.profile-address {
    display: flex;
    gap: 10px;
}

.profile-address p {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #666666;
}

.profile-edit-btn {
    /* transform: translateY(130px); */
    width: 223px;
    height: 38px;
    background: #5C2E88;
    border-radius: 20px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
}

/* -----------------pro-right------------------ */

.pro-right {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pro-right-top {
    display: flex;
    align-items: center;
}

.my-art-btn {
    width: 166px;
    height: 45px;
    background: #5C2E88;
    border-radius: 40px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    color: #FFFFFF;
    cursor: pointer;
}

.pro-right-top p {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 35px;
    color: #000;
    cursor: pointer;
}

.pro-right-top-about {
    margin-left: 52px;
}

.pro-right-top-share {
    margin-left: 222px;
}
/* -----------------pro-right-bottom----------------- */
.pro-right-bottom{
    margin-top: 5px;
    width: 100%;
}