.new-password {
    display: flex;
    justify-content: center;
    align-items: center;

}

.newpassword {
    margin: 200px 0px;
    width: 781px;
    height: 609px;
    background: #232B48;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 67px;
   
}

.newpassword h1 {
    margin-top: 54px;
    margin-bottom: 65px;
    font-family: 'Urbanist';
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 33px;
    color: #FFFFFF;

}

.newpassword p {
    margin-top: 33px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);

}

.newpassword input {
    margin-top: 12px;
    width: 647px;
    height: 54px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: none;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-left: 12px;
    color: rgba(224, 224, 224, 0.31);

}

.newpassword button {
    margin-top: 70px;
    margin-bottom: 100px;
    width: 647px;
    height: 54px;
    background: #2D7DD7;
    border-radius: 10px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;


}

.newpassword button:disabled{
    background: #b7d1ef;
}